@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tarayıcının sistem temasını devre dışı bırak */
html {
    color-scheme: light;
}

/* Sistem teması medya sorgularını devre dışı bırak */
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light !important;
    }
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light !important;
    }
}

body{
    height: 100vh;
}


@font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-Oblique.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-BookOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-HeavyOblique.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/Fonts/avenir/Avenir-LightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  /* Montserrat Font Family */
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Fonts/montserat/Montserrat-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
  }
  
  